/****************** 头部样式 **********************/
#header{
	border: none;
	border-radius: 0;
}
#header .navbar{
	min-height: 40px;	
	background-color: #333333;
	border: none;
}
#header .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
#header .navbar-nav > .active > a, 
#header .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}
#header .navbar-nav > li > a {
    color: #B0B0B0;
}
#header .navbar-nav > li:hover > a {
    color: #fff;
}
#header .navbar-nav > li > a {
	line-height: 40px;
    padding: 0 10px;
}
#header .navbar-nav > li > a.car{
	padding: 0 20px;
	margin-right: 50px;
	background: #424242;
}
#header .navbar-nav > li > a.car:hover{
	background: #fff;
	color: #F87300;
}
#header .navbar-nav > li > a.car .carInfo{
	position: absolute;
	left: -205px;
	width: 320px;
	height: 100px;
	line-height: 100px;
	background: #fff;
	box-shadow: 0 2px 5px #ccc;
	font-size: 13px;
	color: #424242;
	text-align: center;
	display: none;
}
#header .navbar .img{
	display: none;
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 2px;
	box-shadow: 0px 2px 5px #ccc;
	background: #fff;
	text-align: center;
	padding-top: 15px;
	left: -25px;
	top: 42px;
	
}
#header .navbar-nav .app:hover .img{
	display: block;
}
/* 小箭头的生成 */
.arrow{
	position: absolute;
	top: 20px;
	left: 20px;
    /* transparent 透明色 */
    border: 10px solid transparent;
    border-bottom-color: #ffffff;    /* 向上 */
	border-top-color: #ffffff;    /* 向下 */
	border-left-color: #ffffff;    /* 向右 */
	border-right-color: #ffffff;   /* 向左  */
	
}
/* 消息通知 */
.modal .modal-body{
	padding: 20px 25px;
}
.modal .modal-body p{
	font-size: 14px;
	color: #333333;
}
.modal .modal-body p a{
	color: #FF7F00;
	text-decoration: none;
}
.modal .modal-body .detail{
    overflow: hidden;
	margin-top: 20px;
	height: 260px;
	overflow-y: auto;
	font-size: 14px;
}
.modal .modal-body .detail .span1{
	display: inline-block;
	color: #333333;
	text-indent: 2em;
	margin-bottom: 5px;
}
.modal .modal-body .detail .span2{
	display: inline-block;
	text-indent: 2em;
	font-weight: 700;
}
/****************** 头部样式 **********************/

/****************** 轮播区样式 **********************/
#carousel{
	width: 1349px;
}
#carousel .top{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
}
#carousel .top .mune{
	background: grenn;
	margin-left: 180px;
}
#carousel .top .mune li{
	float: left;
	line-height: 56px;
	padding: 0 10px;
	cursor: pointer;
}
#carousel .top .mune li a{
	font-size: 17px;
	color: #333333;
	text-decoration: none;
}
#carousel .top .mune li:hover a{
	color: #FF6752;
}
#carousel .top .mune .showed{
	position: absolute;
	top: 135px;
	left: 0;
	width: 100%;
	height: 230px;
	padding-left: 60px;
	box-shadow: 0 2px 3px #ccc;
	border-top: 1px solid #ccc;
	display: none;
	z-index: 888;
	background: #fff;
}
#carousel .top .mune .showed .item span{
	display: block;
}
#carousel .top .mune .showed .item{
	float: left;
	width: 205px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	position: relative;
}
#carousel .top .mune .showed .item .tip{
	height: 22px;
	line-height: 20px;
	padding: 0 15px;
	border: 1px solid #F87300;
	margin-bottom: 15px;
	z-index: 10;
	color: #F87300;
}
#carousel .top .mune .showed .item .img{
	width: 205px;
	text-align: center;
	/* position: absolute;
	top: 35px; */
}
#carousel .top .mune .showed .item .name{
	line-height: 16px;
	margin-top: 18px;
	/* position: absolute;
	top: 145px; */
}
#carousel .top .mune .showed .item .price{
	line-height: 16px;
	color: #F87300;
	margin-top: 8px;
	/* position: absolute;
	top: 180px; */
}
#carousel .top .search{
	width: 300px;
	margin-top: 4px;
	float: right;
	margin-left: 80px;
}
#carousel .top .search input{
	width: 240px;
	height: 50px;
	padding-left: 5px;
	font-size: 13px;
	outline:none;
	border: 1px solid #E0E0E0;
}
#carousel .top .search .inputTip{
	position: absolute;
	width: 240px;
	height: 300px;
	background: #fff;
	margin-top: -1px;
	border: 1px solid #FF6700;
	border-top: none;
	z-index: 10;
	display: none;
}
#carousel .top .search form span{
	cursor: pointer;
}
#carousel .top .search form span:hover{
	color: #fff !important;
	background: #F87300 !important;
}
#carousel .top .search .inputTip li{
	height: 33px;
	line-height: 33px;
	cursor: pointer;
}
#carousel .top .search .inputTip li:hover{
	background: #eee;
}
#carousel .top .search .inputTip li a{
	text-decoration: none;
}
#carousel .top .search .inputTip li a .left{
	color: #424242;
	padding-left: 15px;
}
#carousel .top .search .inputTip li a .right{
	color: #B6B6B6;
	float: right;
	padding-right: 20px;
}
#carousel .top .search .inputTip li:hover{
	
}
#carousel .top .search button{
	width: 50px;
	height: 50px;
	position: relative;
	top: -1px;
	border: none;
	background: transparent;
	border: 1px solid #E0E0E0;
	border-left: none;
}
#carousel .top .search button:hover{
	background: #FF6700;
	color: #fff;
	border:#FF6700;
}
	
#carousel .main{
	width: 1226px;
	margin: 0 auto;
}
#carousel .main .left{
	width: 20%;
	height: 470px;
	padding-top: 15px;
	background: #666666;
}
#carousel .main .left li{
	height: 44px;
	padding-left: 25px;
	cursor: pointer;
}
#carousel .main .left li a{
	font-size: 13px;
	line-height: 44px;
	text-decoration: none;
	color: #fff;
}
.icon-right{
	padding-right: 20px;
	line-height: 44px;
}
#carousel .main .left li:hover,
#carousel .main .left li:hover a{
	color: #fff;
	background: #FF6B00;
}
#carousel .main .left li:hover .a{
	background: transparent;
}

/* 左边栏移入显示的共用样式代码 */
/* 有四个栏目 */
.iphoneCar div,.tvBox div,.household div,.child div{
	width: 980px;
	height: 470px;
	background: #fff;
	position: absolute;
	left: 307px;
	top: 142px;
	z-index: 777;
	box-shadow: 2px 2px 5px #ccc;
	display: none;
}
/* 有两个栏目 */
.notebookIpea div,.goOut div,.route div,.headset div{
	width: 490px;
	height: 470px;
	background: #fff;
	position: absolute;
	left: 307px;
	top: 142px;
	z-index: 777;
	box-shadow: 2px 2px 5px #ccc;
	display: none;
}
/* 有三个栏目 */
.elec div,.life div{
	width: 735px;
	height: 470px;
	background: #fff;
	position: absolute;
	left: 307px;
	top: 142px;
	z-index: 777;
	box-shadow: 2px 2px 5px #ccc;
	display: none;
}
#carousel .main .left .publicShow div ul{
	width: 245px;
	height: 470px;
	float: left;
}
#carousel .main .left .publicShow div ul li{
	height: 78px;
	line-height: 75px;
	padding-left: 25px;
}
#carousel .main .left .publicShow div ul li img{
	width: 40px;
	height: 40px;
}
#carousel .main .left .publicShow div ul li a{
	color: #333;
}
#carousel .main .left .publicShow div ul li a span{
	margin-left:10px;
}
#carousel .main .left .publicShow div ul li:hover{
	background-color: transparent;
}
#carousel .main .left .publicShow div ul li:hover a{
	color: #FF6700;
}
#carousel .main .left .publicShow:hover div{
	display: block;
}



#carousel .main .right{
	width: 80%;
	height: 470px;
	position: relative;
}
#carousel .main .right .lunbo{
	width: 100%;
	height: 100%;
	position: relative;
}
#carousel .main .right .lunbo li{
	position: absolute;
	opacity: 0;
}
#carousel .main .right .prev{
	display: block;
	width: 41px;
	height: 69px;
	background: url(../imgs/icon-slides.png) no-repeat -84px 50%;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
	z-index: 666;
}
#carousel .main .right .next{
	display: block;
	width: 41px;
	height: 69px;
	background: url(../imgs/icon-slides.png) no-repeat -125px 50%;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -35px;
	cursor: pointer;
	z-index: 666;
}
#carousel .main .right .prev:hover{
	background-position: 0 50%;
}
#carousel .main .right .next:hover{
	background-position: -42px 50%;
}
#carousel .main .right .lunbo .currentShow{
	z-index: 1;
}
#carousel .main .right .circleIndex{
	position: absolute;
	right: 35px;
	bottom: 25px;
	z-index: 100;
}
#carousel .main .right .circleIndex li{
	float: left;
	cursor: pointer;
	margin: 0 3px;
}
#carousel .main .right .circleIndex li div{
	width: 5px;
	height: 5px;
	padding: 3px;
	border-radius: 50%;
	background: #878787;
	border: 2px solid #cccccc;
}
#carousel .main .right .circleIndex .circleShow{
	background: #fff;
}
#carousel .bottom{
	width: 1226px;
	height: 170px;
	margin: 15px auto 25px;
}
#carousel .bottom .bottom-1{
	width: 245px;
	height: 170px;
	background: #5F5750;
	float: left;
	padding: 10px;
}
#carousel .bottom .bottom-1 .bottom-1-ul li{
	float: left;
	width: 74px;
	height: 74.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icon-car{
	font-size: 20px;
}
.borderRight{
	border-right: 1px solid #665E57;
}
.borderTop{
	border-top: 1px solid #665E57;
}
#carousel .bottom .bottom-1 .bottom-1-ul li a{
	text-align: center;
	color: #CFCDCB;
	text-decoration: none;
}
#carousel .bottom .bottom-1 .bottom-1-ul li:hover a{
	color: #fff;
}
#carousel .bottom .bottom-1 .bottom-1-ul li span{
	display: block;
}
#carousel .bottom .bottom-2,#carousel .bottom .bottom-3,#carousel .bottom .bottom-4{
	width: 310px;
	height: 170px;
	background: red;
	float: left;
	margin-left: 16.9px;	
}
/****************** 轮播区样式 **********************/


/****************** 广告区1 **********************/
.bgContainer{
	width: 100%;
	background: #F5F5F5;
}
#ad1{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}
#ad1 .top .right .icon-list{
	color: #B0B0B0;
}
#ad1 .top .right:hover span{
	color: #F87300;
}
#ad1 .top .right:hover .icon-list{
	color: #F87300;
}
.public .top{
	line-height: 25px;
	height: 32px;
	overflow: hidden;
	margin-bottom: 15px;
}
.public .top .left{
	color: #333;
	font-size: 22px;
	font-weight: 200;
}
.public .top .right{
	float: right;
	font-size: 18px;
	font-weight: 200;
}
.public .bottomLeft{
	width: 235px;
	height: 616px;
	float:left;
}
.public .bottomRight{
	width: 980px;
	height: 616px;
	float:right;
	padding-left: 1px;
}
.public .bottomRight .showList li{
	width: 233.5px;
	height: 300px;
	float: left;
	background: #fff;
}
.public .bottomRight .showList .marginRight{
	margin-right: 15px;
}
.public .bottomRight .showList .marginBottm{
	margin-bottom: 15.5px;
}

.public .showList .item{
	float: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.public .showList .item .tip{
	height: 20px;
	line-height: 15px;
	padding: 2px 18px;
	background: #83C44E;
	margin-bottom: 5px;
	z-index: 10;
	color: #fff;
}
.public .showList .item .img{
	width: 100%;
	text-align: center;
}
.public .showList .item .name{
	line-height: 16px;
	margin-top: 18px;
	font-size: 14px;
}
.public .showList .item .name a{
	text-decoration: none;
	color: #333;
	line-height: 16px;
	margin-top: 18px;
	font-size: 14px;
}
.public .showList .item .detail{
	color: #B7B0B0;
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
}
.public .showList .item .price{
	font-size: 14px;
	line-height: 16px;
	color: #F87300;
	margin-top: 12px;
}
.public .imgAd{
	width:1226px;
	height: 120px;
	margin: 35px auto;
}
.public .imgAd img{
	width:1226px;
	height: 120px;
}

#ad2{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}

#ad3{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}

#ad4{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}

#ad5{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}

#ad6{
	width: 1226px;
	margin: 0 auto;
	padding-top: 35px;
}
.marginRight3{
	margin-right: 14.3px;
}
.public .right li{
	float: left;
	margin-left: 30px;
}
.public .right li a{
	color: #333;
	font-size: 18px;
	text-decoration: none;
}
.public .right li:hover{
	border-bottom: 2px solid #F87300;
}
.public .right li:hover a{
	color: #F87300;
}
.public .bottomRight li{
	position: relative;
	overflow: hidden;
}
.public .bottomRight .infoTip{
	width: 233.5px;
	height: 75px;
	padding: 8px 25px;
	background: #F87300;
	position: absolute;
	bottom: -75px;
	display: none;
}
.public .bottomRight .infoTip .review{
	color: #fff;
}
.public .bottomRight .infoTip .author{
	color: #FFB685;
	margin-top: 5px;
}
.public .bottomRight li:hover .infoTip{
	display: block;
}
.public .bottomRight .minItem{
	width: 233.5px;
	height: 142.5px;
	background: #fff;
	position: relative;
	padding-top: 40px;
}
.public .bottomRight .minItem .minItem-div1{
	padding: 0px 25px;
	float:left;
}
.public .bottomRight .minItem .minItem-div1 a{
	text-decoration: none;
}
.public .bottomRight .minItem .minItem-div1 p{
	width: 70px;color: #333;
}
.public .bottomRight .minItem .minItem-div2{
	float: right;margin-right: 25px;margin-top: -10px;
}
.public .bottomRight .viewMore{
	width: 233.5px;
	height: 142.5px;
	margin-top: 15px;
	background:#fff;
	position: relative;
	padding-top: 40px;
}
.public .bottomRight .viewMore .viewMore-a{
	text-decoration: none;
	color: #333;
}
.public .bottomRight .viewMore .viewMore-a .viewMore-div1{
	text-decoration: none;
	color: #333;
}
.public .bottomRight .viewMore .viewMore-a .viewMore-div1 p{
	margin-top: 7px;color: #F87300;
}
.public .bottomRight .viewMore .viewMore-span{
	font-size: 20px;
}
.public .bottomRight .viewMore .viewMore-div1{
	padding: 0px 25px;
	float:left;
}
.public .bottomRight .viewMore .viewMore-div2{
	float: right;margin-right: 35px;
}
/****************** 广告区1 **********************/

/****************** 为你推荐 **********************/
#recommend{
	width: 1226px;
	margin: 40px auto;
}
#recommend .right li:hover i{
	color: #F87300;
}
.marginRight2{
	margin-right: 14px;
}
.paddingTop{
	padding-top: 30px;
}
.paddingTop span{
	padding: 5px 0;
}

/****************** 为你推荐 **********************/

/****************** 热评产品 **********************/
#product{
	width: 1226px;
	margin: 40px auto;
}
#product .showList li{
	width: 295.5px;
	height: 415px;
}
#product .showList li img{
	width: 295.5px;
	height: 220px;
}
#product .showList li .des{
	width: 250px;
	height: 160px;
	margin: 30px auto;
}
#product .showList li .des p:nth-child(1){
	font-size: 14px;
	color: #333;
	margin-bottom: 20px;
}
#product .showList li .des span{
	color: #B0C1CC;
	font-size: 13px;
}
#product .showList li .des .name{
	text-decoration: none;
	color: #333;
	line-height: 14px;
	font-size: 15px;
	margin-bottom: 20px;
	padding-right: 10px;
	border-right: 1px solid #B0C1CC;
}
#product .showList li .des .price{
	font-size: 14px;
	color: #FF6E18;
	margin-bottom: 20px;
	padding-left: 10px;
}
/* 当文字超出范围时，添加该类 passText */
#product .showList li .des .passText{
	display: inline-block;
	width: 185px;
	height: 20px;
	line-height: 20px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/****************** 热评产品 **********************/

/****************** 内容区 **********************/
#content{
	width: 1226px;
	margin: 30px auto;
}
#content .showList{
	width: 886.5px;
	height: 418px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	background: #fff;
	padding-top: 30px;
	position: relative;
}
#content .ulContainer .prev2,#content .ulContainer .next2{
	width: 20px;
	height: 45px;
	z-index: 999;
	background: #E1E1E1;
	/* display: none; */
	color: #fff;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
#content .ulContainer .prev2{
	position: absolute;
	top: 180px;
}
#content .ulContainer .next2{
	position: absolute;
	top: 180px;
	right: 0;
}
#content .ulContainer:hover .prev2,#content .ulContainer:hover .next2{
	display: block;
}
#content .ulContainer .prev2:hover,#content .ulContainer .next2:hover{
	background: #757575;
}
#content .title{
	color: #F87300;
	font-size: 16px;
	width: 295.5px;
	text-align: center;
}
#content .showList li{
	cursor: pointer;
	width: 295.5px;
	height: 370px;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;
	float: left;
}
#content .showList li a{
	text-decoration: none;
}
#content .showList li .name a{
	color: #333;
	font-size: 20px;
}
#content .showList li .des{
	width: 200px;
	color: #BDBDBD;
	margin: 5px auto 10px;
}
#content .showList li .price{
	color: #333;
	font-size: 13px;
	margin-bottom: 15px;
}
#content .test{
	width: 295.5px;
	position: relative !important;
	top: -418px !important;
	left: 309.5px;
	z-index: 10;
	padding-top: 20px;
}
	
/****************** 内容区 **********************/

/****************** 视频区 **********************/
#video{
	width: 1226px;
	margin: 30px auto;
}
#video .showList li{
	width: 295.5px;
	height: 285px;
	text-align: center;
	position: relative;
}
#video .showList li .name{
	margin-top: 20px;
}
#video .showList li .name a{
	color: #333;
	font-size: 14px;
	line-height: 35px;
	text-decoration: none;
}
#video .showList li .name a:hover{
	color: #F87300;
}
#video .showList li .tip{
	color: #BCBCBC;
	font-size: 12px;
}
#video .showList li .videoControl i{
	position: absolute;
	top: 140px;
	left: 25px;
	color: #fff;
}
#video .showList li .videoControl:hover i{
	color: #F87300;
}
#video .top .right .icon-list{
	color: #B0B0B0;
}
#video .top .right:hover span{
	color: #F87300;
}
#video .top .right:hover .icon-list{
	color: #F87300;
}

	
/****************** 视频区 **********************/


/****************** 底部区域 **********************/
#footer{
	width: 1349px;
}
#footer .top{
	width: 1226px;
	margin: 0 auto;
}
#footer .top ul{
	width: 1226px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E0E0E0;
}
#footer .top ul li{
	width: 244.4px;
	float: left;
	height: 28px;
	text-align: center;
}
#footer .top ul li a{
	display: inline-block;
	color: #666;
	height: 27px;
	font-size: 18px;
	text-decoration: none;
}
.borderRight2{
	border-right: 1px solid #E0E0E0;
}
#footer .top ul li a:hover,
#footer .top ul li a:hover .icon-about{
	color: #FF6B00;
}
#footer .top .about{
	margin-top: 35px;
	padding: 10px 0;
}
#footer .top .about .left{ 
	float: left;
}
#footer .top .about dl{ 
	float: left;
	width: 160px;
}
#footer .top .about dl dt{
	color: #000;
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: 500;
}
#footer .top .about dl dd{
	cursor: pointer;
	font-size: 12px;
	color: #757575;
	padding-bottom: 15px;
}
#footer .top .about dl dd:hover{
	color: #FF6B00;
}
#footer .top .about .right{ 
	float: right;
	width: 255px;
	height: 130px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
#footer .top .about .right span{
	display: block;
}
#footer .top .about .right .tel{
	color: #FF6700;
	font-size: 22px;
}
#footer .top .about .right .time,#footer .top .about .right .tip{
	color: #616161;
	font-size: 10px;
}
#footer .top .about .right button{
	border: none;
	background: transparent;
	margin-top: 20px;
	width: 120px;
	height: 30px;
	border: 1px solid #FF6700;
}
#footer .top .about .right button:hover,
#footer .top .about .right button:hover i{
	background: #FF6700;
	color: #fff;
}
#footer .bottom{
	width: 1349px;
	background: #FAFAFA;
	margin-top: 15px;
	padding-bottom: 25px;
}
#footer .bottom .links{
	margin-left: 10px;
}
#footer .bottom .links li{
	height: 13px;
	line-height: 13px;
	float: left;
	padding: 0 5px;
	/* border-right: 1px solid #ccc; */
}
/* 使用了css紧邻选择器 */
#footer .bottom .links li+li{
	border-left: 1px solid #ccc;
}
/* #footer .bottom .links li:nth-child(17){
	border: none;
} */
#footer .bottom .links li a{
	font-size: 12px;
	color: #757575;
	text-decoration: none;
}
#footer .bottom .links li a:hover{
	color: #F87300;
}
#footer .bottom .links p{
	color: #B0B0B0;
}
#footer .bottom .links p a{
	color: #B0B0B0;
	text-decoration: none;
}
#footer .bottom .links p a:hover{
	color: #F87300;
}
#footer .bottom .finish{
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #BABABA;
	letter-spacing: 2px;
}

/****************** 底部区域 **********************/



/****************<!-- 侧边栏指示器 -->****************/
.pointers ul{
	position: fixed;
	right: 35px;
	bottom: 160px;
	z-index: 999;
}

.pointers ul li{
	width: 27px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	background: #fff;
	border: 1px solid #F5F5F5;
	cursor: pointer;
	z-index: 1002;
}
/* 精确匹配，出去对应的样式 */
.pointers ul li.noBorderStyle{
	border-bottom: none;
}
.pointers ul li:nth-child(6){
	position: absolute;
	margin-top: 15px;	
	display: none;
}
.pointers ul li img{
	width: 20px;
	height: 20px;
}
.pointers .erweima{
	width: 130px;
	height: 190px;
	background: #fff;
	position: absolute;
	right: 35px;
	padding: 20px 17.5px;
	display: none;
	border: 1px solid #F5F5F5;
}
.pointers p{
	color: #959595;
	line-height: 20px;
	font-size: 14px;
}
.arrow2{
	border: 7px solid #ccc;
	border-left-color: #fff;
}
.arrow3{
	width: 7px;
	height: 12px;
	background: url(../imgs/arrow.png);
}
.pointers .pointTioInfo{
	width: 75px;
	height: 30px;
	background: #fff !important;
	position: absolute;
	right: 35px;
	border: 1px solid #F5F5F5;
	display: none;
}

.pointers ul li:nth-child(1){
	background: #fff url(../imgs/98a23aae70f25798192693f21c4d4039.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(1):hover,
.pointers ul li:nth-child(1):hover .erweima{
	background: #fff url(../imgs/74c4fcb4475af8308e9a670db9c01fdf.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}

.pointers ul li:nth-child(2){
	background: #fff url(../imgs/55cad219421bee03a801775e7309b920.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(2):hover,
.pointers ul li:nth-child(2):hover .pointTioInfo{
	background: #fff url(../imgs/41f858550f42eb1770b97faf219ae215.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}
.pointers ul li:nth-child(3){
	background: #fff url(../imgs/12eb0965ab33dc8e05870911b90f3f13.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(3):hover,
.pointers ul li:nth-child(3):hover .pointTioInfo{
	background: #fff url(../imgs/95fbf0081a06eec7be4d35e277faeca0.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}

.pointers ul li:nth-child(4){
	background: #fff url(../imgs/4f036ae4d45002b2a6fb6756cedebf02.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(4):hover,
.pointers ul li:nth-child(4):hover .pointTioInfo{
	background: #fff url(../imgs/5e9f2b1b0da09ac3b3961378284ef2d4.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}

.pointers ul li:nth-child(5){
	background: #fff url(../imgs/d7db56d1d850113f016c95e289e36efa.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(5):hover,
.pointers ul li:nth-child(5):hover .pointTioInfo{
	background: #fff url(../imgs/692a6c3b0a93a24f74a29c0f9d68ec71.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}

.pointers ul li:nth-child(6){
	background: #fff url(../imgs/totop.png) no-repeat center center;
	background-size: 20px 20px;
}
.pointers ul li:nth-child(6):hover,
.pointers ul li:nth-child(6):hover .pointTioInfo{
	background: #fff url(../imgs/totop_hover.png) no-repeat center center;
	background-size: 20px 20px;
	display: block;
}

/****************<!-- 侧边栏指示器 -->****************/