/*************公用样式**************/
html{
	font-size: 50px;
}
@font-face {
  font-family: 'iconfont';  /* project id 1208598 */
  src: url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.eot');
  src: url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.woff') format('woff'),
  url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1208598_a190jg0i7sv.svg#iconfont') format('svg');
}
/*************公用样式**************/

/*************顶部区域**************/
#top{
	display: -webkit-flex;
	display: flex;
	padding: 0.15rem 0.15rem;
}
#top section{
	flex: 1;
}
#top .back{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.36rem;
}
#top .back img{
	width: 0.2rem;
}
#top .title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.36rem;
	font-weight: 600;
}
#top .wx{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/*************顶部区域**************/